body {
    background-image: url("sheeps.gif");
    background-size: cover;
    font-family: BlinkMacSystemFont, 'Segoe UI', Roboto, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: bold;
    text-align: center;
    color: rgb(195, 195, 195);
    text-shadow: 1px 1px 3px rgb(0, 0, 0); 
    max-height: 100vh;

}

.container {
    border-radius: 10px;
    max-width: 50%;
    margin: auto;
    padding-bottom: 20px;
    border: 3px solid rgb(151, 147, 147);
    
}

h1 {
    margin-top: 10px;
    margin-bottom: 10px;
    padding-top: 20px;
}

h2 {
    font-size: 50px;
    margin-top: 0;
    margin-bottom: 20px;
}

button {
    margin-top: 10px;
    border: none;
    padding-top: 10px;
    padding-bottom: 10px;
    color: rgb(223, 223, 223);
    font-weight: bold;
    width: 200px;
    margin-bottom: 5px;
    border-radius: 5px;
}

#increment-btn {
    background: rgb(117, 116, 116);
}

#save-btn {
    background: darkgreen;
}
